.east {
  max-width: 1461px;
  margin: auto;
  margin-top: 200px;
}

.wrapper {
  display: flex;
  gap: 232px;
}

.wrapper__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.wrapper__content__button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.sub-text {
  display: flex;
  align-items: center;
  gap: 30px;
}
