.fs-12 {
  font-weight: 900;
  font-size: 12px;
  line-height: 150%;
}

.fs-14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.fs-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.fs-18 {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}
