*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222831;
    font-family: 'Poppins';
}

ul, ol {
  list-style-type: none;
}

.main-page{
    margin-top: 202px;
    position: relative;
    height: 1024px;   
}

.container {
    margin: 0 auto;
    max-width: 1248px;
    width: 100%;
}

.about{
    background-image: url(./images/result\ \(back\).svg);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    height: 1024px;
    position: relative;
    display: flex;
    justify-content: end;
}

.header{
    
}

.line{
    position: absolute;
    border: 1px solid rgba(238, 238, 238, 0.1);
    width: 100%;
    height: 0px;
    left: 0px;
    top: 132px;
}

.header__bar{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 132px;
}

.header__main-logo{
    
}

.stn{
    position: absolute;
    width: 104px;
    height: 314.69px;
    left: 228px;
    top: 41px;
    background: transparent;
}

.stn-down{
    position: absolute;
    width: 96px;
    height: 96px;
    left: 464px;
    top: 864px;
}

.header__bgraound{
    position: absolute;
    right: 79px;
    max-width: 514px;
    height: 514px;  
}

.header__upgraound{
    background: transparent;
    position: absolute;
    right: 233px;
    top: 250px;
    max-width: 514px;
    height: 514px;  
}

.about__bgraound{
    right: 110px;
    position:absolute;
    width: 665px;
    height: 499px;
    background: transparent;
    
}

.about__upgraound{
    right: 200px;
    position:absolute;
    max-width: 500px;
    height: 472px;
}

.header__bar__logo-bar{
    padding: 48px 96px;
    max-height: 36px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFF;
}


.header_nav{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 48px 96px;
    gap: 48px;
}

.creative{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    width: 586px;
    height: 300px;
    left: 180px;
    top: 334px;
}

.creative__main-text{
    width: 686px;
    height: 292px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    color: #EEEEEE;
}

.creative_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 383px;
    height: 47px;
}

.about__content{
    margin-left: 100px;
}

.about__content__text{
    Width:389px;
    Height:189px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(238, 238, 238, 0.75);
}

.about__content__img{
    
}

.title {
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
}

button,
input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

.container {
  margin: 0 auto;
  max-width: 1248px;
  width: 100%;
}

.mini-container {
  margin: 0 auto;
  max-width: 1200px;
}

.works {
  margin-top: 300px;
  max-height: 1024px;
  background-image: url(/images/works.png);
}

.wrap {
  background-image: url(/images/works.png);
  padding: 260px 0 332px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}

.nowrap {
  padding: 258px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.works_cards {
  background-image: url(/images/works.png);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.works_card {
  padding: 60px 50px;
  width: 100%;
  max-width: 368px;
  max-height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: rgba(57, 62, 70, 0.5);
  backdrop-filter: blur(2px);
}
.title-work{
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  background-image: url(/images/works.png);
}
.works_card > img {
  max-width: 265px;
  max-height: 158px;
}

.feedback {
  max-height: 1024px;
  position: relative;
}

.feedback_title {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback_title > h2 {
  line-height: 80px;
}

.feedback_upground_img {
  max-width: 255px;
  max-height: 348px;
  z-index: 2;
}

.feedback_background_keyboard {
  position: absolute;
  top: 60px;
  right: 467px;
  z-index: -1;
}

.feedback_background_mail {
  position: absolute;
  bottom: 165px;
  right: 170px;
  z-index: -1;
}

.feedback_background_arrow {
  position: absolute;
  top: 450px;
  left: 120px;
  z-index: -1;
}

.form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.form_contacts {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.form_input {
  padding: 16px 24px;
  background: rgba(57, 62, 70, 0.5);
  border-radius: 16px;
}

.form_name {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.form_email {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.form_message {
  max-width: 600px;
  max-height: 280px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.form_message > input {
  height: 100vh;
  width: 100%;
}

.footer {
  max-height: 397px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_nav {
  margin-top: 100px;
}

.footer_nav_ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.footer_nav_li {
  display: flex;
}

.footer_nav_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer_nav_img {
  max-width: 24px;
  max-height: 24px;
}

.footer_social {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer_social_link {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  background: #393E46;
  border-radius: 50%;
  color: #fff;
  opacity: 0.75;
}

.footer_policy {
  margin: 48px 0;
  display: flex;
  justify-content: flex-end;
}

.footer_policy_link {
  color: rgba(238, 238, 238, 0.75) !important;
}

.btn {
  padding: 10px 32px;
  border-radius: 24px;
  background: transparent;
  cursor: pointer;
}

.btn-solid {
  background: #00ADB5;
  color: #EEEEEE;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.btn-outline {
  background: rgba(57, 62, 70, 0.75);
  backdrop-filter: blur(2px);
  color: #EEEEEE;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
}

.fs-18 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #EEEEEE;
}

.white {
  color: #EEEEEE;
}

.green {
  color: #00ADB5;
}

::placeholder {
  width: 84px;
  height: 27px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  transform: translateY(-100px) translateY(50%);
}

