* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
  }
  
  ul,
  ol {
    list-style-type: none;
  }
  
  button,
  input {
    outline: none;
    border: none;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  img {
    object-fit: cover;
  }

  .btn {
    padding: 10px 32px;
    border-radius: 24px;
    background: transparent;
    cursor: pointer;
  }

  .btn-solid {
    background: #00ADB5;
    color: #EEEEEE;
  }
  .btn-outline {
    background: rgba(57, 62, 70, 0.75);
    backdrop-filter: blur(2px);
    color: #EEEEEE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }
  
  .white {
    color: #EEEEEE;
  }

  .green {
    color: #00ADB5;
  }
