@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 85px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  color: rgb(102, 102, 102);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.login-form__title {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
}

.login-form__info {
  display: block;
  text-align: center;
}

.login-form__password-text {
  margin-top: 40px;
  margin-bottom: 20px;
}

.login-form__login {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 40px;
}

.login-form__password {
  position: relative;
  display: flex;
  flex-direction: column;
}

.login-form__eye {
  position: absolute;
  right: 20px;
  top: 72%;
  cursor: pointer;
}

.login-form__forgot {
  margin-top: 25px;
  text-align: right;
  display: block;
}

.login-form__button {
  margin-top: 40px;
  width: 100%;
  height: 73px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 24px;
  background-color: rgb(33, 72, 192);
}

.login-form__button:hover {
  background-color: #000000;
}

input {
  min-height: 60px;
  border: none;
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
}

input[type="password"],
[type="text"] {
  font-size: 24px;
  padding-left: 10px;
}

a {
  color: rgb(153, 153, 153);
}

a:hover {
  color: rgb(33, 72, 192);
  transition: 0.5s;
}

.background-img {
  background-image: url("./bg-icloud.png");
  background-size: cover;
  position: absolute;
  width: 100%;
  max-width: 880px;
  height: 780px;
  top: 0;
  right: 0;
  z-index: -1;
}

.background-img-eclipse {
  background-image: url("./bg-eclipse.png");
  background-size: cover;
  position: absolute;
  width: 100%;
  max-width: 786px;
  height: 868px;
  bottom: -50px;
  left: -50px;
  z-index: -1;
}

.background-img-item {
  position: absolute;
  width: 100%;
  max-width: 586.19px;
  height: 617.95px;
  border-radius: 50%;
  bottom: -50px;
  left: -50px;
  background-color: rgb(33, 72, 192);
  z-index: -1;
}

/* MEDIA */
@media (max-width: 768px) {
  .login-form {
    padding: 50px;
  }
}

@media (max-width: 425px) {
  .login-form {
    padding: 20px;
  }
}
